@model BiluthyrningAB.ViewModels.CarVm

@{
    ViewData["Title"] = "Create";
}

<h4>Lägg till bil</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Car.LicenseNumber" class="control-label"></label>
                <input asp-for="Car.LicenseNumber" class="form-control" />
                <span asp-validation-for="Car.LicenseNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Biltyp</label>
                <select asp-for="Car.CarType" asp-items="Model.CarTypes" class="form-control">
                    <option disabled selected>--- VÄLJ BILTYP ---</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Lägg till" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Gå tillbaka</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
